@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* standard css settings*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--paragraph-font);
    max-width: 100vw;
    padding: 25px;
}
:root {
    --primary-color: #006D77;
    --secondary-color: #83C5BE;
    --tertiary-color: #EDF6F9;

    --heading-font: 'Poppins', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #bae6f5;
    --nav-link-color: rgb(2, 29, 2);
    --nav-hover-link-color: rgb(244, 248, 244);
    --nav-hover-background-color: rgb(2, 35, 2);
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: right;
    justify-content: end;
    grid-column: 3/4;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    

}
header img {
    width: 75px;
    grid-column: 2/3;

}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    align-items: center;

}
footer p{
    grid-column: 1/3;
    grid-row: 1;

}
footer p a{
    font-size: 15px;
    color: #006D77;
}
footer p a:hover{
    color: #006D77;
}
footer a{
    grid-column: 3/3;
    padding-left: 20px;
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    grid-row: 1;
    
}
footer a i{
    font-size: 40px;
}

.ifooter{
    margin: 0;
    padding: 0;
    grid-row: 1;
}


/* page content */
.hero{
    display: flex;
    flex-direction: column;
}
.hero img{
    width: 900px;
    margin: auto;
    border-radius: 40px;
    margin-bottom: 30px;
}
.hero h1{
    position: absolute;
    font-size: 75px;
    top: 150px;
    right: 40%;
}
.contact-box{
    background-color: var(--nav-background-color);
    width: 320px;
    height: 150px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 400px;
    right:35%;
}
.contact-box p{
    margin: 2px;
    margin-top: 20px;
    align-self: center;
}
.contact-box a{
    background-color: #006D77;
    border-radius: 5px;
    width: 150px;
    margin: auto;
    padding: 5px;
    color: #EDF6F9;
    text-decoration: none;
    font-weight: bold;
}
.contact-box a:hover{
    background-color: #02393e;
    color: #1087ae;
}
.grid-title{
    font-size: 50px;
    text-align: center;
    margin: auto;
}
.trip-grade{
    background-color: #006D77;
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.trip-grade div{
    display: flex;
    flex-direction: column;
    background-color: #1087ae;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px black;
    justify-content: space-around;
    
}
.trip-grade img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.trip-grade h3{
    color: #97cfca;
    font-weight: 600;
}
.bottom{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #97cfca;
    font-size: 30px;
    font-weight: bolder;
    color: #02393e;
}
.trip-table{
    width: 180px;
    text-align: center;
    font-size: 20px;
    background-color: #1087ae;
}
.price{
    width: 120px;
    background-color: #84d7f3;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #02393e;
}
table{
    margin: auto;
    width: 900px;
    padding: 25px;
    background-color: #02393e;
    padding-bottom: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 40px;
    
}
.description{
    padding: 15px;
    background-color: #23bef1;

}
caption{
    font-size: 50px;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #02393e;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
th{
    color: whitesmoke;
    font-size: 25px;
}