*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
}
header{
    margin: 0 auto;
    width: 500px;
}
h1{
    margin: 1rem;
    font-size: 1.3em;
    text-align: left;
    color: navy;
}
form{
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 1rem;
    background-color: rgb(231, 250, 244);
    border-radius: 20px;
    display: grid;
}

fieldset{
    border: none;
    display: grid;
    grid-gap: .5rem;
}
div{
    display: grid;
    grid-gap: .5rem;
}
div img{
    width: 320px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}
span{
    color: navy;
    font-weight: bold;
}
label{
    text-align: left;
    display: flex;
    padding: 0.5rem 0px 0 0;
}
input, textarea, select, img{
    padding: 0.5rem;
}
button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover{
    background-color: darkgreen;
}

