
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Poppins, sans-serif;
}

nav{
    padding: 0;
    background-color: rgb(58, 102, 224);
    display: inline;
    display: flex;
    font-size: 15px;
    align-items: center;
}

nav a{
    padding: 0;
    display: block;
    color: antiquewhite;
    text-decoration: none;
    padding: 1.0rem;
}

nav a:hover {
    color: rgb(58, 102, 224);
    background-color: rgb(2, 1, 44);
    padding:1.0rem
}

main {
    max-width: 800px;    
    padding-left: 15px;
}
aside{
    width: 20em;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}
aside img{
    width: 250px;
    height: auto;
    padding-top: 25px;
}

aside h2{
    position: absolute;
    top: 0px;
    left: 100px;
}
main img{
    width: 150px;
    height: auto;
    float: right;

}
p{
    padding: 0;
}

h1{
    padding: 1rem;
}

footer{
    margin-top: 15px;
    border-bottom: 1px solid #000;
    text-align: center;
}

/* Class Selector */
.box{
    margin: 1rem;
    width: 20em;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

